
#main{
    max-width: 600px;
    background: linear-gradient(135deg, #7AD431, #00874D) no-repeat;
}

.capital {
    text-transform: uppercase;
}

.w-600 {
    max-width: 600px;
}

#container {
    font-family: Manrope,Arial, Helvetica, sans-serif;
}

#footer {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
}

#footer a {
    font-weight: 600;
    color: #78B833;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
}

#footer p {
    font-size: 12px;
    line-height: 12px;
}


.white-color {
    color: white;
}
.left-container h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
.left-container h3 {
    margin-top: 0;
}
img {
    max-width: 100%;
}
.right-container p {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    font-family: Manrope, 'MS Sans Serif', Geneva, sans-serif;
    font-weight: 500;
}
h1, h2, h3 {
    line-height: 1.17em;
}